<h1>Edit Shopping List</h1>

<form action="/shoppinglist/<%= @shoppinglist.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label>Name of shopper: </label>
  <input type="text" name="shoppinglist[name]" value="<%=@shoppinglists.name%>"/><br />
  <label>Description: </label>
  <textarea rows="12" cols="80" type="text" name="shoppinglist[description]" value="<%=@shoppinglist.description%>"></textarea><br />
  <label>Instructions: </label>
  <textarea type="text" name="shoppinglist[instructions]" value="<%=@shoppinglist.instructions%>" rows="12" cols="80" > </textarea><br />
  <label>Prep Time: </label>
  <input type="text" name="shoppinglist[prep_time]" value="<%=@shoppinglist.prep_time%>" /><br />
  <label>Cook Time: </label>
  <input type="text" name="recipe[cook_time]" value="<%=@recipe.cook_time%>" /><br />
  <input type="submit" value="Edit Recipe">
</form>
