<h3><%= @shoppinglist.name_of_shopper %></h3>

<p><%= @shoppinglist.num_of_items %></p>
<p><%= @shoppinglist.time_of_pickup %></p>



<% if Helpers.current_user(session) == @shoppinglist.user %>
  <a href="/shoppinglists/<%=@shoppinglist.id%>/edit">Edit Shopping List</a>
  <form action="/shoppinglists/<%=@shoppinglist.id%>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>

<%end%>
